<h1><%= @announcement.title %></h1>
<h2><small>by <%= @announcement.admin.name %></small></h2>
<hr>
<p><%= simple_format @announcement.post %></p>
<% if admin_signed_in? %>
  <%= button_to 'Remove Announcement', { action: 'destroy', id: @announcement.id }, method: :delete, remote: true, class: 'ui negative basic button', data: { confirm: "Are you sure?" } %>
<% end %>
