<table class="ui compact celled definition table" id="adminTable">
  <thead>
    <tr>
      <th>Activate</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "admin", collection: @admins %>
  </tbody>
</table>